extends layout

block content
  h1= title
  p Welcome to #{title}
  p this is an edit Sarah made on her computer
  p this is totes my goats an Andy edit
  p return of the Andy edits!
  p Didi rox my sockss