
body {
	font-family:'Roboto Slab';
	font-weight:300;
	font-size:12pt;
	color: #A39770;
	margin:0;
	background-color:#FCFCFC;
}

h1, h2, h3, h4 {
	font-family:'Nunito', sans-serif;
	font-weight:300;
}

a {
	color:inherit;
	text-decoration:none;
	font-weight:bold;
}

a:hover {
	text-decoration:underline;
}

/*==============================*/
/*		MASTER CONTENT 			*/
/*==============================*/
#main {
	color:#2E2E2D;
	width:780px;
	height:100%;
	margin:0;
	padding:0;
}

.section {
	margin:0;
	float:left;
	width:100%;
	text-align:left;
/*	-moz-border-radius: 1em 4em 1em 4em;
	border-radius: 1em 4em 1em 4em;*/
}

.section .content {
	padding:.5em 1em;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 2em solid transparent;
	border-right: 2em solid transparent;
	z-index:10;
	position:relative;
	bottom: -1.5em;
}

.circle {
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	float:left;
	font-size:18pt;
	border-size:.1em;
	border-style:solid;
	text-align:center;
	vertical-align:middle;
	margin-right:1em;
	box-shadow: .25em .25em .5em #000000;
	opacity:1;
	background-color:#333333;
	color:#FFFFFF;
}

.color1{ /*orange*/
	border-color:#FF8500;
}

.color2{ /*teal*/
	border-color:#14CC9B;
}

.color3{ /*purple*/
	border-color:#D963FF;
}

/*==============================*/
/*		HEADER CONTENT 			*/
/*==============================*/
#header {
	background-color:#2E2E2D;
	color:#FFFFFF;
}

#header a {
	color:#FFFFFF;
}

/*==============================*/
/*		NAVIGATION CONTENT 		*/
/*==============================*/
#navigation {
	background-color:#FF8500;
}

#navigation ul {
	list-style-type:none;
}

#navigation ul li {
	display:inline;
	padding-right:1em;
}

/*==============================*/
/*		ROTATING BANNER			*/
/*==============================*/

#signup #rotatingBanner {
	position:absolute;
	top:0;
	left:0;
}

#rotatingBanner img.rotateImg {
		width:780px;
        height: auto;
        position:absolute;
      	top:0;
      	left:0;
      	z-index:-1;
}

/*==============================*/
/*		SIGNUP CONTENT 			*/
/*==============================*/
#signup {
	/*background-color:#FFFFFF;*/
	min-height:390px;
	float:clear;
	font-size:8pt;
	position:relative; /*this is the magic that makes the inclusive divs layer appropriately*/
}

#signup h1 {
	font-size:18pt;
}

#signup .content {
	position:absolute;
	top:0;
	left:0;
	z-index:20;
	color:#FFFFFF;
	text-shadow:2px 2px 2px #000000;
}

.signupForm input {
	
}

.signupForm input[type=text] {
	border:1px solid #333333;
	background-color:rgba(255,255,255,.60);
	border-radius:.25em;
	margin-bottom:1em;
	width:50%;
	box-shadow:2px 2px 2px #666666;
}

.signupForm input[type=submit] {
	background-color:#FF8500;
	font-size:18pt;
	border:2px solid #333333;
	border-radius:.5em;
	padding:0em .25em;
	font-family:'Nunito', sans-serif;
	font-weight:300;
	box-shadow:2px 2px 2px #333333;

}

/*==============================*/
/*		ABOUT CONTENT 			*/
/*==============================*/
#about {
	background-color:#14CC9B;
}

#about div.arrow-down {
	border-top: 2em solid #14CC9B;
	left:25%;
}


/*==============================*/
/*		HOW CONTENT 			*/
/*==============================*/
#how {
	background-color:#2E2E2D;
	color:#FFFFFF;
}

#how div.arrow-down {
	border-top: 2em solid #2E2E2D;
	left: 50%;
}

/*==============================*/
/*		SMARTPHONE CONTENT 		*/
/*==============================*/
#smartphone {
	background-color:#D963FF;
}

#smartphone div.arrow-down {
	border-top: 2em solid #D963FF;
	left:75%;
}

/*==============================*/
/*	FIRST RESPONDER CONTENT 	*/
/*==============================*/
#firstresponder {
	width:100%;
	margin:0;
	background-color:#2E2E2D;
	color:#FFFFFF;
	vertical-align:top;
	text-align: left;
	float:left;
}

/*==============================*/
/*	FIRST RESPONDER CONTENT 	*/
/*==============================*/
#footer {
	width:100%;
	margin:0;
	background-color:#FFFFFF;
	color:#2E2E2D;
	vertical-align:top;
	text-align: center;
	float:left;
}