<html>
	<head>
		<meta charset="utf-8">
		<title>SARA: Law Enforcement Admin Site</title>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA3mC_xSILKVBUECReJLJbyoX9L3PQ_ApY&sensor=false"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
		<link rel="stylesheet" href="/stylesheets/admin.css" type="text/css">

		<script>

		var MILES_TO_METERS_CONVERSION_RATIO = 1609.34;
		var map;
		var marker;
		var circle;
		var browserLat = 39.8282; //default at center of US
		var browserLong = -98.5795; //default at center of US
		var zoomLevel = 4; //default zoom to fill screen with US

		function initialize() {
			getGeolocation();

			var mapProp = {
				center: new google.maps.LatLng(browserLat, browserLong), //centers the map here
				zoom: zoomLevel,
				mapTypeId:google.maps.MapTypeId.ROADMAP
			};
			
			map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

			// placeMarker();

		}

		function refreshMap() {
			var refreshLocation = new google.maps.LatLng(browserLat, browserLong);
			map.setCenter(refreshLocation);
			map.placeMarker(refreshLocation)
			map.setZoom(7);
		}

		function placeMarker(location) {
			//SARAH TODO: if there is already a marker, ignore this?
			if (!location) {
				location = map.getCenter();
			}

			marker = new google.maps.Marker({
				position: location,
				draggable: true,
				title: "Drag me!",
				map: map
			});

			drawCircle(marker);

			marker.setMap(map);

			//remove the Drop a pin button. We only want one pin at a time
			$("#dropPin").hide();
		}

		function drawCircle(markerInput) {
			//if the marker doesn't exist, set it to the global marker variable
			if (!markerInput) {
				markerInput = marker;
			}
			var radius = $("#radius").val();
			//SARAH TODO: sanitize the radius input

			//translate that into meters, because that's what the API takes
			var radiusMeters = radius * MILES_TO_METERS_CONVERSION_RATIO;

			if (circle) {
				// map.removeOverlay(circle);
				circle.setMap(null); //remove any previous circle
			}
			circle = new google.maps.Circle({
				map: map,
				radius: radiusMeters,
				fillColor: '#013ca6',
				fillOpacity: .2,
				strokeColor: '#013ca6',
				strokeWeight: 2
			});
			// Add circle overlay and bind to marker
			circle.bindTo('center', markerInput, 'position'); //add the new circle to the map
		}

		google.maps.event.addDomListener(window, 'load', initialize);

		//http://www.w3schools.com/html/tryit.asp?filename=tryhtml5_geolocation

		function getGeolocation() {
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(saveNewCenter);
			} else{
				console.log("Browser does not support geolocation or user opted out");
				//do nothing and keep the defaults
			}
		}

		function saveNewCenter(position) {
			//update the lat and long points of the map to show your location.
			browserLat = position.coords.latitude;
			browserLong = position.coords.longitude;
			zoomLevel = 7; //Also update the zoom level to something more appropriate...
		}
		</script>

</head>
<body>

<div id="header">
	<img src="/images/logo/1-logo-long-horizontal.png" class="logo"/>
	<span id="logout"><a href="#">Log out</a></span>
</div>

<div id="topNav">
<ul>
	<li><a href="#">Dashboard</a></li>
	<li><a href="#">Campaigns</a></li>
	<li><a href="#">Searchers</a></li>
	<li><a href="#">Help</a></li>
</ul>
</div>

<div id="leftNav">
	<h2>About This Page</h2>
	This message will be sent to all the public users with the message location pin in their radius. On this first page create your short message in either just English, or in English and Spanish. The correct language will be sent to the public based on each individual user's language preference.
</div>

<div id="main">
	<div class="content" ng-app="messageApp" ng-ctrl="messageCtrl">
		<h1>Send a new message</h1>
		This message will be sent via text message to the public users in the area. To send a message just follow the numbered steps below.

		<h2>1. Type the Message</h2>
		<textarea id="enMessage" placeholder="Type the message here" rows="6" cols="40" maxlength="160" ng-trim="false" ng-model="message.enMessage"></textarea>
		<span id="enCharCount">{{message.enMessage.length}} / 160 characters</span><br />
		
		<input type="radio" name="language" value="english" id="enLang" checked>Send this message only in English<br />
		<input type="radio" name="language" value="alsoSpanish" id="esLang">Also send this message in Spanish to those who prefer Spanish messages<br />
		<span id="esMessageOptions">
			<textarea id="esMessage" rows="6" cols="40" placeholder="Escriba su mensaje Español" ng-trim="false" ng-model="message.esMessage"></textarea>
			<span id="esCharCount">{{message.esMessage.length}} / 160 characters</span>
		</span>
		<br />
		
		<h2>2. Select the message's location</h2>
		<p>Place a pin where you want people to receive the message.</p>

		<div id="googleMap" style="width:650px;height:500px;z-index:1000"></div>

		<br>
		<p><span class="button" id="submit">3. Review the recipients</span></p>
	</div>
</div>

<script src="/javascripts/angular.js"></script>
<script src="/javascripts/angular-controller.js"></script>
<script>
$('#esMessageOptions').hide();

$('#esLang').click(function() {
    $("#esMessageOptions").show();
});

$('#enLang').click(function() {
    $("#esMessageOptions").hide();
});

</script>

</body>
</html>