<html ng-app="ngApp">
	<head>
		<meta charset="utf-8">
		<title>SARA: Law Enforcement Admin Site</title>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA3mC_xSILKVBUECReJLJbyoX9L3PQ_ApY&sensor=false"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
		<link rel="stylesheet" href="/stylesheets/admin.css" type="text/css">
</head>
<body>

<div id="header">
	<img src="/images/logo/1-logo-long-horizontal.png" class="logo"/>
	<span id="logout"><a href="#">Log out</a></span>
</div>

<div id="topNav">
<ul>
	<li><a href="#">Dashboard</a></li>
	<li><a href="#">Campaigns</a></li>
	<li><a href="#">Searchers</a></li>
	<li><a href="#">Help</a></li>
</ul>
</div>

<div id="leftNav">
	<h2>About This Page</h2>
	This message will be sent to all the public users with the message location pin in their radius. On this first page create your short message in either just English, or in English and Spanish. The correct language will be sent to the public based on each individual user's language preference.
</div>

<div id="main">
	<div class="content" ng-ctrl="ngController">
		<h1>Send a new message</h1>
		This message will be sent via text message to the public users in the area. To send a message just follow the numbered steps.

		<div id="messageDiv" style="float:left;">
			<h2>1. Type the Message</h2>
			<textarea id="enMessage" placeholder="Type the message here" rows="6" cols="40" maxlength="160" ng-trim="false" ng-model="message.enMessage"></textarea><br />
			<span id="enCharCount">{{message.enMessage.length || 0}} / 160 characters</span><br />

			<span class="button" id="submit" onclick="submit()">Send Message!</span>
		
		<!-- <input type="radio" name="language" value="english" id="enLang" checked>Send this message only in English<br />
		<input type="radio" name="language" value="alsoSpanish" id="esLang">Also send this message in Spanish to those who prefer Spanish messages<br />
		<span id="esMessageOptions">
			<textarea id="esMessage" rows="6" cols="40" placeholder="Escriba su mensaje Español" maxlength="160" ng-trim="false" ng-model="message.esMessage"></textarea>
			<span id="esCharCount">{{message.esMessage.length || 0}} / 160 characters</span>
		</span> -->
		</div>

<!-- 		<h2>2. Verify Location</h2>
		By default, the pin is placed pin is placed at the center of the campaign. But you may move this pin according to the current situation.

		<div id="googleMap" style="width:300px;height:300px;z-index:1000"></div> -->

		<div id="volunteers" style="float:right;">
			<h2>2. Verify Recipients</h2>
			<p>These volunteers are willing to search in this area.</p>
			<table style="border:1px solid #00000;" id="volunteersTable">
				<tr>
					<th></th>
					<th>Email</th>
					<th>Phone</th>
					<th>Verified?</th>
				</tr>
			</table>
		</div>
	</div>
</div>

<script src="/javascripts/angular.js"></script>
<script src="/javascripts/angular-controller.js"></script>

<script>
/*
 * This script shows or hides the spanish message box based 
 * on the value of the radio button group language
 */
$('#esMessageOptions').hide();

$('#esLang').click(function() {
    $("#esMessageOptions").show();
});

$('#enLang').click(function() {
    $("#esMessageOptions").hide();
});

</script>

<script>
/* 
 * This gets the campaign ID from the URL, then uses
 * that to get the whole campaign object
 */

//NOTE: window.location.href is better than document.URL because it updates after a browser redirect
var parsedURL = window.location.href.split("/");
var campaignID = parsedURL[parsedURL.length-1];
if (!campaignID) { //this condition is for if an ending "/" is in the URL
	campaignID = parsedURL[parsedURL.length-2];
}

//get the campaign information from the ID I got from the URL
var campaign;
$.get('../api/v1/campaign/' + campaignID).done(function(data) { //get the campaign information
	console.log("adminSendMessage.html: response: " + data);
	campaign = data;
});

//get all the active searchers, and put them in a list on the page
var allActive = [];
$.get('/api/v1/officer/allActive').done(function(data) {
	allActive = data.rows;
	console.log(allActive);	

	// What the row will look like...
	// <tr>
	// 	<td><input type="checkbox" checked></td>
	// 	<td>Andy Heaton</td>
	// 	<td>385-204-5557</td>
	// 	<td>Yes</td>
	// </tr>

	allActive.forEach(function(volunteer) {
		var row = '<tr><td><input type="checkbox" checked></td><td>';
		row = row.concat(volunteer.email, '</td><td>', volunteer.phone, '</td><td>Yes</td></tr>');
		console.log(row);

		//add the row to the table
		$('#volunteersTable').append(row);
	});
});

//the submit function
function submit() {
	var messageJSON = {};
	var message = $('#enMessage').val();
	var to = $('#phone').html();
	// console.log("to: " + to + " message: " + message);

	//add objects to the JSON
	messageJSON.message = message;
	messageJSON.to = to;
	// console.log(messageJSON);

	//post it the API url
	var APIURL = "/api/v1/campaign/message/" + campaignID;
	$.post(APIURL, messageJSON) ;
}
</script>

</body>
</html>